<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CheckSessionAccueuil</servlet-name>
        <servlet-class>servlets.CheckSessionAccueuil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfigDatabase</servlet-name>
        <servlet-class>servlets.ConfigDatabase</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginValidation</servlet-name>
        <servlet-class>servlets.LoginValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterValidation</servlet-name>
        <servlet-class>servlets.RegisterValidation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateProductList</servlet-name>
        <servlet-class>servlets.CreateProductList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckSessionAccueuil</servlet-name>
        <url-pattern>/CheckSessionAccueuil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfigDatabase</servlet-name>
        <url-pattern>/ConfigDatabase</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginValidation</servlet-name>
        <url-pattern>/LoginValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterValidation</servlet-name>
        <url-pattern>/RegisterValidation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateProductList</servlet-name>
        <url-pattern>/CreateProductList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>/META-INF/init.jsp</welcome-file>
    </welcome-file-list>
</web-app>
